<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Muggl Testfälle"
            id="Muggl">
      </category>
      <view
            name="Muggl Testfälle"
            category="Muggl"
            class="tcg.views.TreeView"
            id="tcg.views.TreeView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="tcg.views.TreeView">
         </view>
      </perspectiveExtension>
   </extension>
</plugin>
